@use 'variables';
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: variables.$bg;
  color: var(--text);
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-size: 1.5rem;
  padding: 10px 20px;
  margin-left: 10px;
  background-color: steelblue;
  color: #fff;
}

h1 {
  font-size: 4rem;
  border-bottom: 3px var(--text) dotted;
}

h3 {
  font-size: 2rem;
  margin-left: 10px;
}

ul li {
  font-size: 1.5rem;
}
